<section id="app-login-form">
  <form #loginForm="ngForm" (ngSubmit)="authenticate()" >
    <md-card>

      <md-card-title>
        <div class="app-logo">
          <i class="material-icons">assignment_turned_in</i>
        </div>
      </md-card-title>

      <md-card-content>
        <button md-raised-button type="button" class="btn-alternative-login" >
          Login with Github
          <img src="/assets/images/GitHub-Mark-32px.png">
        </button>
        <div class="separator"><span>or</span></div>
        <md-input-container>
          <input mdInput [(ngModel)]="user.login" name="login" placeholder="Login" type="email" required>
        </md-input-container>
        <md-input-container>
          <input mdInput [(ngModel)]="user.password" name="password" type="password" placeholder="Password" required>
        </md-input-container>
        <div class="app-login-actions">
          <md-checkbox [(ngModel)]="user.rememberMe" name="rememberMe" >Remember-me</md-checkbox>
          <a href="">Forgot password?</a>
        </div>
      </md-card-content>

      <md-card-actions>
        <button md-raised-button [disabled]="!loginForm.form.valid" type="submit" >Login</button>
        <button md-raised-button >Create new account</button>
      </md-card-actions>
    </md-card>
  </form>
</section>
