<section id="app-login-form">
  <md-card color="primary">
    <md-card-title>Simple Task Manager</md-card-title>
    <md-card-content>
      <form name="loginForm">
        <button md-button class="btn-alternative-login" >Login with Github</button>
        or
        <md-input-container>
          <input mdInput placeholder="Login" >
        </md-input-container>
        <md-input-container>
          <input mdInput type="password" placeholder="Login" >
        </md-input-container>
      </form>
    </md-card-content>
    <md-card-actions>
      <button md-button >Login</button>
    </md-card-actions>
  </md-card>
</section>
