.app-task-player {
  padding: 5px;

  .controls {
    .timer {
      text-align: center;
    }
    .buttons {
      text-align: center;

      .btn-play {
        color: #4CAF50;
      }

      .btn-pause {
        color: #FF9800;
      }

      .btn-stop {
        color: #F44336;
      }
    }
  }
}
