<div class="app-tags-container">
  <md-card>
    <md-input-container class="tag-input-field">
      <input [(ngModel)]="newTagName" mdInput placeholder="Add new" type="search">
    </md-input-container>
    <button md-button (click)="add()" >Add</button>
  </md-card>
  <md-card>
    <md-input-container class="tag-input-field">
      <input mdInput placeholder="Filter tags" type="search">
    </md-input-container>
    <md-chip-list>
      <md-chip *ngFor="let tag of tags" >
        {{tag.name}}
      </md-chip>
    </md-chip-list>
  </md-card>
</div>
